<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- 引入样式 -->
    <!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="./elementui/index.css">

</head>
<body>

<div id="app">
    <el-row>
        <el-col :span="20" :offset="2">
            <h2>YAML 转换 Properties 工具</h2>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="20" :offset="2">
            <el-input id="yamlContent"
                      type="textarea"
                      :autosize="{ minRows: 10, maxRows: 20}"
                      placeholder="请输入内容"
                      v-model="yaml">
            </el-input>
        </el-col>
    </el-row>
    <br>
    <el-row>
        <el-col :span="20" :offset="2">
            <el-button @click="sendConvert" id="elBtn" size="small" type="primary" plain>转换</el-button>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="20" :offset="2">
            <div style="color: red">{{errmsg}}</div>
            <div id="special" style="color: red; white-space: pre-wrap">{{special}}</div>
        </el-col>
    </el-row>
    <br>
    <el-row>
        <el-col :span="20" :offset="2">
            <el-input id="propContent"
                      type="textarea"
                      :autosize="{ minRows: 10, maxRows: 50}"
                      placeholder="请输入内容"
                      v-model="prop">
            </el-input>
        </el-col>
    </el-row>


    <!--    <textarea id="yamlContent" v-model="yaml" rows="20" cols="130"></textarea>-->

    <!--    <br>-->
    <!--    <button v-on:click="sendConvert">转换</button>-->
    <!--    <div style="color: red">{{errmsg}}</div>-->
    <!--    <div id="special" style="color: red; white-space: pre-wrap" >{{special}}</div>-->

    <!--    <br>-->

    <!--    <textarea id="propContent" v-model="prop" rows="20" cols="130"></textarea>-->

    <br>


    <br>
    <br>
    <br>

</div>


<script src="./vue.js"></script>
<script src="./axios.js"></script>
<!-- 引入组件库 -->
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="./elementui/index.js"></script>

<script th:inline="javascript">
    const app = new Vue({
        el: "#app",
        data: {
            counter: 0,
            yaml: "",
            prop: "",
            errmsg: "",
            special: ""
        },
        methods: {
            sendConvert() {
                let d = {
                    yamlContent: this.yaml
                }
                let url = /*[[@{/convertYamlFromContent}]]*/"http://localhost:8080/convertYamlFromContent";
                // axios.post("http://localhost:8080/convertYamlFromContent", data)
                axios({
                    url: url,
                    method: 'post',
                    data: d
                }).then(res => {
                    console.log(res);
                    let rd = res.data
                    if (rd.code == 0) {
                        let convertRes = rd.data;
                        console.log(convertRes);
                        this.prop = convertRes.props;
                        this.errmsg = '';
                        this.special = '';
                        if (convertRes.specialProps != null && convertRes.specialProps !== '') {
                            this.special = "\r\n以下配置存在特殊引用，请处理：\r\n";
                            this.special += convertRes.specialProps;
                        }
                    } else {
                        this.special = '';
                        this.errmsg = rd.msg;
                    }
                })
            },
        }
    })
</script>


</body>
</html>